body{
  background-color: #F8F8F8;
}

@font-face {
    font-family: Integral;
    src: url(../public/fonts/font1/IntegralCF-ExtraBold.ttf);
}

@font-face {
    font-family: K2D;
    src: url(../public/fonts/font2/K2D-Regular.ttf);
}

@font-face {
    font-family: Integral;
    src: url(../public/fonts/font1/IntegralCF-Medium.eot);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.latest-image {
    transition: transform 0.2s;
  }
  
  .latest-image:hover {
    transform:scaleX(1.2);
    transition: 2s all ease;
    z-index: 999;
    object-fit:cover;
  }

  @media screen and (max-width:768px) {
    .latest-image:hover{
        transform: none;
    }
  }

  .cartoon-effect:hover {
    filter: saturate(200%) brightness(150%);
    transition: filter 0.3s ease;
  }

  .logos{
    overflow: hidden;
  }
  .logos-slide{
    white-space: nowrap;
    opacity: 0.1;
    animation: 12000ms slide infinite linear;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .motionBg:hover{
    background-image: url(././Components/Assets/motion3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
    transition: 1s all ease;
  }
  .communicationBg:hover{
    background-image: url(././Components/Assets/doni.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
    transition: 1s all ease;
  }
  .webBg:hover{
    background-image: url(././Components/Assets/122121121221.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
    transition: 1s all ease;
  }

